@charset "utf-8";
/* CSS Document */
.main-header {
    background: none repeat scroll 0 0 #323B44;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
    min-height: 86px;
    position: relative;
    width: 100%;
    z-index: 9999;
 display: block;
 text-align:right;
}
h3.title:after {
    background: url("../img/bg_off.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 5px;
    margin-left: 10px;
    position: absolute;
    top: 12px;
    width: 99%;
}
h3.title {
    line-height: 28px;
    overflow: hidden;
}
.bottom-pad {
    margin-bottom: 60px;
}
.recentworks {
    background: -moz-linear-gradient(center top , #F8F8F8, #FAFAFA) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    padding: 60px 0;
}
h3.title:after {
    background: url("../img/bg_off.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 5px;
    margin-left: 10px;
    position: absolute;
    top: 12px;
    width: 99%;
}
.portfolio-item {
    background: url("../img/bg_off.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: block;
    overflow: hidden;
    padding: 4px;
}
.portfolio-desc{
	position:relative;	
}
.carousel-controls{
	display:block;
	position:absolute;
	top:0px;
	right:0px;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
a.prev span, a.next span{
	display:block;
	font-size:12px;
	text-align:center;
	line-height:22px;
}
